{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "react",
    "flowtype"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    },
  "rules": {
    "no-console": 1,
    "no-unused-vars": 1,
    "semi": 2,
    "comma-dangle": [2, "always"],
    "jsx-quotes": [2, "prefer-single"],
    "quotes": [
      2,
      "single", {
        "allowTemplateLiterals": true
      }
    ],
    "no-multi-spaces": [ 2, { "ignoreEOLComments": true } ],
    "no-trailing-spaces": 2,
    "no-else-return": 2,
    "getter-return": 2,
    "no-floating-decimal": 2
    },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  }
}
