{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "react",
    "flowtype"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    },
  "rules": {
    "no-console": 1,
    "no-unused-vars": 1,
    "semi": 2,
    "comma-dangle": [2, "always"],
    "jsx-quotes": [2, "prefer-single"],
    "quotes": [
      2,
      "single", {
        "allowTemplateLiterals": true
      }
    ],
    "no-trailing-spaces": 2,
    "no-else-return": 2,
    "getter-return": 2,
    "no-floating-decimal": 2,
    "no-template-curly-in-string": 2,
    "valid-jsdoc": 2,
    "array-callback-return": 2,
    "curly": [ 2, "multi-line", "consistent" ],
    "indent": [ 2, "tab" ],
    "dot-location": [ 2, "object"],
    "dot-notation": 2,
    "eqeqeq": 2,
    "no-implicit-coercion": 2,
    "no-implicit-globals": 2,
    "no-invalid-this": 2,
    "no-loop-func": 2,
    "no-magic-numbers": 2,
    "no-multi-spaces": [ 2, { "ignoreEOLComments": true } ],
    "no-multi-str": 2,
    "no-new": 2,
    "no-param-reassign": 2,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-unmodified-loop-condition": 2,
    "no-unused-expressions": [ 2, {
      "allowShortCircuit": true,
      "allowTernary": true,
     }],
    "no-useless-concat": 2,
    "no-useless-return": 2,
    "no-warning-comments": 1,
    "prefer-promise-reject-errors": 2,
    "vars-on-top": 1,
    "wrap-iife": [ 2, "inside" ],
    },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  }
}
